/*
  Reset CSS de Josh Comeau
  https://www.joshwcomeau.com/css/custom-css-reset/
*/
*,
*::before,
*::after {
  box-sizing: border-box;
}

* {
  margin: 0;
}

body {
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
}

img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}

input,
button,
textarea,
select {
  font: inherit;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}

p {
  text-wrap: pretty;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  text-wrap: balance;
}

#root,
#__next {
  isolation: isolate;
}

/* Meu CSS */

.roboto-thin {
  font-family: "Roboto", sans-serif;
  font-weight: 100;
  font-style: normal;
}

.roboto-light {
  font-family: "Roboto", sans-serif;
  font-weight: 300;
  font-style: normal;
}

.roboto-regular {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.roboto-medium {
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-style: normal;
}

.roboto-bold {
  font-family: "Roboto", sans-serif;
  font-weight: 700;
  font-style: normal;
}

.roboto-black {
  font-family: "Roboto", sans-serif;
  font-weight: 900;
  font-style: normal;
}

.roboto-thin-italic {
  font-family: "Roboto", sans-serif;
  font-weight: 100;
  font-style: italic;
}

.roboto-light-italic {
  font-family: "Roboto", sans-serif;
  font-weight: 300;
  font-style: italic;
}

.roboto-regular-italic {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-style: italic;
}

.roboto-medium-italic {
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-style: italic;
}

.roboto-bold-italic {
  font-family: "Roboto", sans-serif;
  font-weight: 700;
  font-style: italic;
}

.roboto-black-italic {
  font-family: "Roboto", sans-serif;
  font-weight: 900;
  font-style: italic;
}

:root {
  font-family: "Roboto";
  font-size: 10px;
}

body {
  display: grid;
  height: 100vh;
  width: 100vw;
  grid-template-columns: max(280px, 17%) max(1400px, 83%);
  grid-template-rows: 1fr 7fr;
  margin: 0;
  gap: 25px;
  background-color: #f5f3ff;
  overflow-x: hidden;
}

.header {
  display: grid;
  grid-template-columns: 120px 20px 900px 140px 140px 250px;
  grid-template-rows: 1fr 1fr;
  background-color: #fff;
  margin-left: -25px;
  padding: 0 100px 12px 20px;
  box-shadow: 3px 3px 3px #ddd;
  align-items: center;

}

a, a:visited, a:hover, a:active {
  text-decoration: none;
  color: inherit;
}

.pesquisa, .notificacao {
  height: 26px;
  margin-left: 20px;
}

.notificacao {
  justify-self: flex-end;
  margin-right: 20px;
}

.searchbar {
  grid-column: span 2;
  margin-left: -35px;
  height: 32px;
  width: 900px;
  justify-self: left;
  border: none;
  background-color: #dde;
  border-radius: 14px;
}

.perfil {
  clip-path: circle();
  height: 60px;
}

header>img {
  object-fit: cover;
}


header>img:nth-of-type(2){
  height: 90px;
  grid-column: span 2;
}

.nome {
  font-weight: 700;
  white-space: pre-line;
}
.nome:nth-of-type(1) {
  margin-left: -35px;
  font-size: 2rem;
  justify-self: start;
}

.nome:nth-of-type(2) {
  font-size: 2.6rem;
}

.nome>span {
  font-size: 1.8rem;
}

header>button {
  align-self: end;
  margin-bottom: 10px;
  width: 120px;
  height: 38px;
  border: none;
  border-radius: 18px;
  background-color: #6d28d9;
  font-size: 1.5rem;
  font-weight: 700;
  color: #fff;
  cursor: pointer;
 
}

header>button:hover {
  background-color: #7c3aed;
}


h1 {
  font-size: 30px;
}


.main-content {
  display: grid;
  grid-template-columns: max(900px, 75%) max(300px, 20%);
  grid-template-rows: 1fr 1fr;
  height: 90%;
  gap: 20px;
  width: 97%;
}

.projetos{
  grid-row: 1 / 3;
}

.sidebar {
  display: grid;
  grid-template-columns: 1fr 4fr;
  grid-template-rows: 2fr repeat(9, 1fr);
  row-gap: 5px;
  column-gap: 5px;
  padding: 20px 0 300px 15px;
  grid-row: 1 / 3;
  background-color: #6d28d9;
  font-size: 2.2rem;
  font-weight: 700;
}

.sidebar .logo {
  display: grid;
  grid-template-columns: subgrid;
  grid-column: span 2;
  grid-row: 1;
  align-items: center;
  margin-top: -40px;
}

.sidebar>.logo>img{
  justify-self: center;
}

.sidebar>.logo>span {
  font-size: 3rem;
  color: #fff;
}

.sidebar>nav>a {
  color: #fff;
}


.sidebar>.icones {
  display: grid;
  grid-template-columns: subgrid;
  grid-template-rows: subgrid;
  grid-column: 1;
  grid-row: 2 / 11;
  justify-items: center;
  align-items: center;

}

.sidebar>nav {
  display: grid;
  grid-template-columns: subgrid;
  grid-template-rows: subgrid;
  grid-column: 2;
  grid-row: 2 / 11;
  align-items: center;
}

.sidebar>.icones>span:nth-child(7){
  margin-top: 60px;
  margin-bottom: 5px;


}

.sidebar>nav>a:nth-child(7){
  margin-top: 60px;
  margin-bottom: 5px;
  

}

.dTitulo {
  height: 40px;
  font-size: 2.2rem;
}

.projetos-conteudo {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr;
  gap: 30px;
  height: calc(100% - 40px);
}

.projetos-conteudo>div {
  position: relative;
  background-color: #fff;
  border-radius: 10px;
  padding: 25px 10px 20px 20px;
  border-left: 10px solid #94D928;
  box-shadow: 3px 3px 3px #ddd;
}

.projetos-conteudo h3 {
  font-size: 1.9rem;
}

.projetos-conteudo p {
  width: 90%;
  font-size: 1.6rem;
  color: #889;
}

.anuncios-conteudo {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr 2fr 1fr 1fr 2fr 1fr 1fr 2fr;
  gap: 10px;
  border-radius: 10px;
  height: calc(100% - 40px);
  padding: 20px;
  background-color: #fff;
  box-shadow: 3px 3px 3px #ddd;
}

.anuncios-conteudo hr {
  height: 1px;
  border: none;
  background-color: #8895;
}

.anuncios-conteudo h4 {
  height: 1.4rem;
  font-size: 1.4rem;
}

.anuncios-conteudo p {
  font-size: 1.1rem;
  color: #889;
}


.tendencias-conteudo {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr 1fr 1fr;
  gap: 10px;
  border-radius: 10px;
  height: calc(100% - 40px);
  padding: 20px;
  background-color: #fff;
  box-shadow: 3px 3px 3px #ddd;
  font-size: 1.4rem;
}

.tendencias-conteudo>a>div {
  display: grid;
  grid-template-columns: 1fr 3fr;
}

.tendencias-conteudo p {
  color: #889;
}

.icones-acao{
  position: absolute;
  bottom: 25px;
  right: 20px;
  display: grid;
  grid-template-columns: 45px 45px 45px;
}
.icones-acao img{
  height: 24px;
}

.sidebar img {
 height: 24px;
}

.sidebar>.logo img {
  height: 50px;
}

.imagem-placeholder {
  height: 42px;
  width: 42px;
  border-radius: 50%;
}

#img-um {
  background-color: #93c5fd;
}

#img-dois {
  background-color: #fb7185;
}

#img-tres {
  background-color: #d6d3d1;
}

#img-quatro {
  background-color: #fde047;
}

